# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Code2getherChallengeAPI.Core.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tephi\RiderProjects\Code2getherChallengeAPI_WPF\Code2getherChallengeAPI.Core\.idea\.idea.Code2getherChallengeAPI.Core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
